body , html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: black;
    
}

header {
    
    padding: 10px -20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.233);
    text-align: center;
    
    
}

#tituloprincipal {
    position: relative;
    top: 0px;
    color: white;
}

main {
    text-align: center;
    margin-top: 190px;
}

#cordefundoescrita {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 100px;
    
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid blue;
    background-color: transparent;
    color: blue;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    

}

button:hover {
    background-color: blue;
    color: white;
}